html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: white;
    padding: 0;
}

.ql-container {
    background: white; 
}