
$icon-font-path: "../../../../../../../content/fonts/";
@import "css/open-iconic-bootstrap.scss";

.success-mark {
    color: rgb(88, 221, 144);
}

.registration--form label {
    color: blueviolet;
}